---
layout: default
title: dorr.in blog
theme: light
background: clear
---
<div class="row my-3 justify-content-end">
  <div class="col-lg-3 mb-5 text-lg-right">
    <h4>Blog</h4>
    <small class="text-muted">The latest.</small>
  </div>

  {% for post in site.posts limit: 5 %}
  <div class="col-lg-7 mb-5">
    {% if forloop.first != true %}
      <small class="text-muted">{{ post.date | date_to_string }}</small>
    {% endif %}
    <a class="post-title" href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
    {{ post.content }}
  </div>
  <div class="col-lg-2"></div>
  {% endfor %}
</div>
